#modal{
  height: 100%;
  z-index: 2;
  .overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.9);
    color: #fff;
    overflow: auto;
    z-index: 9999;
    .overlay-wrapper {
      margin-top: 10vh;
      margin-bottom: 10vh;
      position: relative;
      //height: 100%;
      @media screen and (max-width: 768px) {
        margin-top: 70px;
        margin-bottom: 70px;
      }
    }
    button.close{
      background: none;
      border: none;
      position: absolute;
      right: 0;
      top: -50px;
      padding: 0;
      //  @media screen and (max-width: 768px) {
      //   top: 40px;
      //  }
      &:hover {
        cursor: pointer;
      }
    }

    .infos{
        text-align: left;
        width: 80%;
         @media screen and (max-width: 768px) {
          width: 100%;
          padding: 0 10px;
         }
        .headline {
            margin-top: 0;
            margin-bottom: 40px;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            div {
                display: flex;
                align-items: baseline;
                white-space: pre-line;
                font-size: 14px;
                span {
                    text-transform: uppercase;
                    opacity: .6;
                    width: 20%;
                    margin-right: 20px;
                    @media screen and (max-width: 768px) {
                      width: 100%;
                    }
                }  
                p {
                  width: 75%;
                  margin-bottom: 0;
                  @media screen and (max-width: 768px) {
                    width: 100%;
                  }
                }
            }
        }
    }

    .img_gallery{
      //flex-wrap: wrap;
      margin-bottom: 40px;
      @media screen and (min-width: 768px) {
        display: flex;
        height: calc(100vh - 20vh);
      }
      .selected-blur{
        width: 100%;
        height: 100%;
        filter: blur(20px);
        position: absolute;
        left: 0;
        top: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        transform: scale(1.1);
        display: none;
        @media screen and (min-width: 768px) {
          display: block;
        }
      }
      .selected{
        overflow: hidden;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        img {
          max-width: 100%;
          @media screen and (min-width: 768px) {
            max-height: 100%;
            object-fit: contain;
          }
        }
        //min-height: 70vh;
        //width: 100%;
        @media screen and (min-width: 768px) {
          
          flex: 1 1 auto;
          align-items: center;
          justify-content: center;
          display: flex;
        }
      }
      .side{
        padding: 0 10px;
        text-align: left;
        
        overflow: hidden;
        display: none;
        @media screen and (min-width: 768px) {
          flex: 0 0 180px;
          display: flex;
          flex-direction: column;
        }
        .headline {
            margin-top: 0;
            margin-bottom: 10px;
        }
          .images {
            // display: flex;
            // flex-wrap: wrap;
            overflow-y: auto;
            height: 100%;
            .image-wrapper {
                flex-grow: 1;
                width: 100%;
                margin-bottom: 10px;
                &:last-child {
                  margin-bottom: 0;
                }
                &:hover {
                  cursor: pointer;
                }
                .image {
                  background: black;
                  &.active {
                    border: 1px solid #FFF;
                    cursor: default;
                    > div {
                      opacity: .3;
                    }
                  }
                  > div {
                    transition: .3s ease;
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 100%;
                    height: 0;
                    padding-bottom: 100%;
                    opacity: 1;
        
                  }
                }
            }
        }
      }
    }
  }
}
